@import 'tailwindcss';

:root {
  --font-stack: ui-monospace,
    'Cascadia Code',
    'Source Code Pro',
    Menlo,
    Consolas,
    'DejaVu Sans Mono',
    monospace;
  --font-stack-code: 'Nimbus Mono PS', 'Courier New', monospace;

  --font-weight-normal: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 600;

  --color-background: #FFFFFF;
  --color-text: #191919;
  --color-text-muted: #222222;
  --color-accent: rgb(255, 230, 41);
  --leading-space: 36px;
  --leading-space-small: 18px;
}

body {
  @apply m-0;
  color: var(--color-text);
  font-family: var(--font-stack);
  font-weight: var(--font-weight-normal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: lowercase;
  color: var(--color-text-muted);
  font-weight: var(--font-weight-semibold);
}

code,
pre,
kbd,
samp {
  font-family: var(--font-stack-code);
  font-weight: var(--font-weight-semibold);
}

a {
  text-decoration: underline dotted;
  text-decoration-color: var(--color-accent);
  transition: all 0.2s;
}

a {
  text-decoration: none;
  white-space: nowrap;
  color: var(--color-text);
  position: relative;
}

a:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 66%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
  background-color: rgba(0, 144, 255, 0.5);
}

a:hover:after {
  top: 0%;
}

p,
ul {
  padding: 0 var(--leading-space);
}
