@import 'tailwindcss';

@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/Fira_Sans/FiraSans-Light.ttf') format('truetype');
  /* font-weight: 400; */
}
@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/Fira_Sans/FiraSans-Regular.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/Fira_Sans/FiraSans-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Fira Code';
  src: url('/public/fonts/Fira_Code/static/FiraCode-Light.ttf') format('truetype');
  /* font-weight: 400; */
}
@font-face {
  font-family: 'Fira Code';
  src: url('/public/fonts/Fira_Code/static/FiraCode-Regular.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Fira Code';
  src: url('/public/fonts/Fira_Code/static/FiraCode-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

:root {
  --font-stack: 'Fira Sans', system-ui, sans-serif;
  --font-stack-code: 'Fira Code', 'Nimbus Mono PS', 'Courier New', monospace;
  --default-mono-font-family: var(--font-stack-code);

  --font-weight-normal: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 600;

  --color-background: #111111;
  --color-background-neutral: #222222;
  --color-text: #eeeeee;
  --color-text-muted: #b4b4b4;
  --color-accent: rgb(255, 230, 41);
  --leading-space: 36px;
  --leading-space-small: 18px;

  --max-content-width: 80ch;
}

body {
  @apply m-0;
  color: var(--color-text);
  font-family: var(--font-stack);
  font-weight: var(--font-weight-normal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
  line-height: 1.675rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-semibold);
  text-transform: lowercase;
  /* color: var(--color-text-muted); */
}

code,
pre,
kbd,
samp {
  font-family: var(--font-stack-code);
  background-color: var(--color-background-neutral);
}

a {
  text-decoration: underline dotted;
  text-decoration-color: var(--color-accent);
  transition: all 0.2s;
}

a {
  text-decoration: none;
  white-space: nowrap;
  color: var(--color-text);
  position: relative;
}

a:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 66%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
  background-color: rgba(0, 144, 255, 0.5);
  border-radius: 0.125rem;
}

a:hover:after {
  top: 0%;
}

p,
ul,
aside {
  padding: 0 var(--leading-space);
}
